# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
r_packages:
  - covr

r_binary_packages:
  - rgl

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  
env:
  global:
    - RGL_USE_NULL=TRUE

after_success:
    - Rscript -e 'covr::codecov()'